<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textually Yours</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <!-- Hero Section -->
    <header class="hero">
        <div class="menu">
            <button id="menu" class="menu"> 
                <img src="../static/images/menu.png" alt="menu" width="25" height="25">
            </button>

            <div id="menu-options" class="menu-options">
                <a href="../index.html" class="menu-item">Home</a>
                <a href="./support.html" class="menu-item">Support</a>
            </div>
        </div>

        <div class="info">
            <h1>About</h1>
            <p>Meet the creator of Textually Yours and how this app came to be</p>
        </div>

    </header>

    <!-- Footer -->
    <footer>
        <p>© 2025 Textually Yours, Vermac.co. Built with ❤️ for meaningful connections.</p>
        <a href="../index.html">Home</a>
        <a href="./support.html">Support</a>
    </footer>

    <script src="../static/main.js"></script>
</body>
</html>
