<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textually Yours</title>
    <link rel="stylesheet" href="../static/style/main.css">
    <link rel="stylesheet" href="../static/style/about.css">

</head>
<body>
    <!-- Hero Section -->
    <header class="hero">
        <div class="menu">
            <button id="menu" class="menu"> 
                <img src="../static/images/menu.png" alt="menu" width="25" height="25">
            </button>

            <div id="menu-options" class="menu-options">
                <a href="../index.html" class="menu-item">Home</a>
                <a href="./support.html" class="menu-item">Support</a>
            </div>
        </div>

        <div class="info">
            <h1>About</h1>
            <p>Learn how textually yours was created</p>
        </div>

    </header>

    <section class="about">

        <h2>What, Why, How, When and Where</h2>
        <div class="text">
            Hi. I’m Mac, the creator of Textually Yours. (Yes, it feels a little odd calling myself that, but here we are.) I’ll be your guide through this journey—let me tell you how, why, and probably way too much about how this little idea came to life. Spoiler alert: it includes a lot of late-night coding and some (very) questionable decisions. Basically, this is going to be me yapping about every little detail of this app, so if you’re not into that, now is probably a good time to you know, leave.
        </div>
        
        <br>

    </section>

    <!-- Footer -->
    <footer>
        <p>© 2025 Textually Yours, Vermac.co. Built with ❤️ for meaningful connections.</p>
        <a href="../index.html">Home</a>
        <a href="./support.html">Support</a>
    </footer>

    <script src="../static/js/main.js"></script>
</body>
</html>
